/* Action color (blue part of the Merkle Druplicon) */
a:hover,
a:focus,
.blog-tags a,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.post-preview a:focus,
.post-preview a:hover {
    color: #328ccd;
}
.pager li a:hover,
.pager li a:focus {
    background-color: #328ccd;
}

/* Text selection color (darkblue part of the Merkle Druplicon) */
::-moz-selection,
::selection {
    background-color: #1268a7;
}

blockquote {
    margin: 2.5rem 0;
}

figcaption {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

article h2,
article h3 {
    margin-top: 5rem;
}

article figure {
    margin: 2.5rem 0;
}

article li {
    margin-bottom: 1rem;
}

article .blog-tags {
    margin: 5rem 0;
}

/* Avatar */
.navbar-custom .avatar-container .avatar-img-border {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.navbar-custom .avatar-container {
    width: 80px;
    margin-top: -25px;
}
@media only screen and (min-width: 768px) {
    .navbar-custom .avatar-container {
        width: 170px;
        margin-top: -85px;
    }
}
