blockquote {
    margin: 2.5rem 0;
}

figcaption {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

article h2,
article h3 {
    margin-top: 5rem;
}

article figure {
    margin: 2.5rem 0;
}

article li {
    margin-bottom: 1rem;
}

article .blog-tags {
    margin: 5rem 0;
}

/* Avatar */
.navbar-custom .avatar-container .avatar-img-border {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.navbar-custom .avatar-container {
    width: 80px;
    margin-top: -25px;
}
@media only screen and (min-width: 768px) {
    .navbar-custom .avatar-container {
        width: 170px;
        margin-top: -85px;
    }
}
